.jumbotron {
    background-color: #ff7c55;
}

.display-4, .lead {
    display: flex;
    justify-content: center;
    color: white;
}

@media only screen and (max-width: 600px) {
        .lead{
            display: flex;
            justify-content: center;
        }
}
