h1, h2{
    font-family: 'moon';
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

p{
    font-family: 'moon';
    display: flex;
    justify-content: center;
}

.input-group{
    width: 15%;
    font-family: 'moon';
    display: flex;
    justify-content: center;
    margin-left: 43%;
    flex-direction: row;
}

.btn {
    font-family: 'moon';
    display: flex;
    background-color: #ff7c55;
    border-color: #ff7c55;
}

.btn:active:focus{
    background-color: #ff7c55;
    border-color: #ff7c55;
    box-shadow: none;
}