<h1>DONATE TO ASHWORTH'S!</h1>
<p>Your donations are a big help in keeping our mission alive!</p>

<h2>SELECT AMOUNT</h2>


<div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">$</span>
      <!-- <span class="input-group-text">0.00</span> -->
    </div>

    <input #myInput type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
    <button (click)="logMessage(myInput.value)" type="button" class="btn btn-primary">DONATE VIA PAYPAL</button>

  </div>

