.form-group{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
}

h1{
    display: flex;
    justify-content: center;
    font-family: "moon";
    margin-top: 3%;
}

h2{
    display: flex;
    justify-content: center;
    font-family: "moon";
    font-size: 18px;
    margin-left: 20%;
    margin-right: 20%;
}

.btn{
    display: flex;
    margin-left: 20%;
    margin-top: 3%;
    background-color: #ff7c55;
    border-color: #ff7c55;
}

.btn:active:focus{
    background-color: #ff7c55;
    border-color: #ff7c55;
    box-shadow: none;
}