<h1>WHO ARE WE?</h1>
<p>
    Ashworth's Adoptions is a non-profit dog shelter located in St. Louis, MO. Our team is
made up of volunteers and animal specialists who work to bring in dogs from the streets
and give them new homes. Our organization was etablished this year in 2020 and
so far, we've already rescued over 100 dogs!
</p>

<h1>OUR MISSION</h1>
<p>
    With the rising rate of euthenization and animal abuse, we at Ashworth's devote our 
resources to finding abandoned or injured dogs left on the streets. Our mission is to 
bring them in, treat them if needed, and find new, loving homes for them. 
While our organization is geared towards dogs, we would
one day like to have the reach and resources to rescue
other animals as well, and beyond the borders of just
St. Louis.
</p>

<h1>HOW YOU CAN HELP</h1>
<p>
    
Any donations of any amount are greatly appreciated. 100% of donations go directly towards
our resources for helping dogs. You can also become a temporary member of our team 
and become a volunteer! We currently have 34 volunteers of all ages on our team
and we're always looking for more! The more hands we have helping our cause, the more dogs we can save
from the streets!
</p>

<div class="buttons">
<button type="button" class="btn btn-primary" id="donate-btn">DONATE</button>
<button type="button" class="btn btn-primary" id="volunteer-btn"> VOLUNTEER</button>
</div>