<div class="lucky-intro">
    <img src="../../assets/images/maxwell.jpg" class="card-img-top" alt="...">
    <h1>Meet Maxwell!<h2>The relaxed</h2></h1>
    </div>
    
    <div class="paragraphs">
    <p>
    Maxwell is the perfect pet for those who like to keep
    a slower pace. He is very relaxed and easy-going, and
    is completely friendly. 
    </p>
    
    <p>
    Maxwell is a sizable dog, weighing in at about 17 pounds.
    He is 3 years old and we aren't quite sure what breed he
    is. He's very soft and loves cuddling and physical affection.
    He's the type to sit on your lap while you're on a couch,
    so if you ever need a TV buddy, he's definitley there for you!
    </p>
    
    <p>
    Maxwell's owner tragically passed away. A family member of the
    brought him to Ashworth's as they nor anyone else in the family
    were able to take him in. While Maxwell does miss his owner, he
    longs for a new one to give all his love and affection to!
    </p>
    
    <p>Do you believe you may be a fitting owner? Please consider adopting Maxwell and welcoming him to a new home!</p>
    </div>
    
    <button type="button" class="btn btn-primary" id="adobt-btn" routerLink="/adoption">ADOPT</button>
    
    <app-footer></app-footer>