<div class="daisy-intro">
    <img src="../../assets/images/daisy.jpg" class="card-img-top" alt="...">
    <h1>Meet Daisy!<h2>The sweet and loving furball</h2></h1>
</div>

<div class="paragraphs">
<p>
Daisy here is lovable, playful, and very outgoing. She is always in the mood for walks, catch, and chase! She is very sociable, and loves greeting and playing with other dogs. And she is already potty trained, so no need to worry about any messes.
</p>

<p>
Daisy is an 11 pound golden retriever. She is 2 years old and in great health. She is full of energy and can play for hours, and she is very easy to train... if you can get her attention that is! She enjoys outdoor activities and doesn't like being in the same place for too long. So she'll need lots of time and attention. 
</p>

<p>
Daisy's previous owner was an elderly woman who was not quite able to keep up with her for much longer. She wasn't able to give her the fast paced life she was made for. So she she brought her here to Ashworth's in hope's that she'd be able to go to a home better suited for her needs.
</p>

<p>Do you believe you may be a fitting owner? Please consider adopting Daisy and welcoming her to a new home!</p>
</div>

<button type="button" class="btn btn-primary" id="adobt-btn" routerLink="/adoption">ADOPT</button>

<app-footer></app-footer>