<div class="lucky-intro">
<img src="../../assets/images/lucky.jpg" class="card-img-top" alt="...">
<h1>Meet Lucky!<h2>The fiesty ball of yappery</h2></h1>
</div>

<div class="paragraphs">
<p>
Lucky is an energetic pup with a feisty attitude. Despite
that, he can also be loving and a very rewarding pet
to have. He can be a tough pup to handle from time to time,
but he just needs a bit of love and care!
</p>

<p>
Lucky is a 3 pound chihuahua. He is only one year old,
so he's a very curious creature who tends to explore 
quite a bit. But be sure to watch him! He's very small
and easy to lose! He does require a lot of attention
and can pretty barky if he doesn't get it. But he be
easily entertained with a chew toy and a rope.
</p>

<p>
Lucky was found by one of our volunteers eating from
a garbage can outside of a Panera. He was skinny, mal-nourished, and shivering in the cold. He was taken into
Ashworth's and given a proper meal and warm blankets. 
Only thing he needs now is a home!
</p>

<p>Do you believe you may be a fitting owner? Please consider adopting Lucky and welcoming him to a new home!</p>
</div>

<button type="button" class="btn btn-primary" id="adobt-btn" routerLink="/adoption">ADOPT</button>

<app-footer></app-footer>