footer{
    background-color: #ff7c55;
    Width: 100%;
    bottom: 0;
}

.socials{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 2%;
}

.icon{
    margin-left: 2%;
    height: 35px;
    margin-top: 0.7%;
}

p{
    color: white;
    margin-top: 1%;
}

.news-sub{
    display: flex;
    margin-left: 2%;
    justify-content: flex-end;
}

.btn{
    display: flex;
    margin-left: 1%;
    margin-top: 0.7%;
    height: 20%;
}

form{
    display: flex;
    margin-left: 1%;
    margin-top: 0.7%;
    height: 20%;
}