<footer>
    <div class="socials">
        <p>Follow us</p>
        <img class="icon" src="./../../assets/images/social media icons/facebook.png"/>
        <img class="icon" src="./../../assets/images/social media icons/instagram.png"/>
        <img class="icon" src="./../../assets/images/social media icons/twitter.png"/>

        <p class="news-sub">Subscribe to our newsletter</p>
        <form>
            <div class="form-group">
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
        </form>
        <button type="button" class="btn btn-primary">Subscribe</button>
    </div>
    <!-- <p>copyright</p> -->
</footer>