<div class="row">
    <div class="card" id="card-1" style="width: 18rem;">
        <img src="../../assets/images/biscuit.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Biscuit</h5>
          <p class="card-text">
            Age: 2
            <br>
              Gender: Male
            <br>
            Breed: Terrier
          </p>
          <!-- <a href="#" class="btn btn-primary">Learn More</a> -->
          <p>Once wandering the street, now wandering a nice, pretty dog house, bone included!</p>
        </div>
      </div>
    
      <div class="card" id="card-2" style="width: 18rem;">
        <img src="../../assets/images/fido.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Fido</h5>
          <p class="card-text">Age: 1
              <br>
              Gender: Male
              <br>
              Breed: Boxer</p>
          <!-- <a href="#" class="btn btn-primary">Learn More</a> -->
          <p>Taken away from an abusive household and now residing with a loving family!</p>
        </div>
      </div>
    
      <div class="card" id="card-3" style="width: 18rem;">
        <img src="../../assets/images/finti.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Fenti</h5>
          <p class="card-text">Age: 1
              <br>
              Gender: Female
              <br>
              Breed: Stabyhoun</p>
          <!-- <a href="#" class="btn btn-primary">Learn More</a> -->
          <p>Found in the freezing cold, but now found herself in an warm home!</p>
        </div>
      </div>
      </div>

      <div class="row">
        <div class="card" id="card-1" style="width: 18rem;">
            <img src="../../assets/images/cychet.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Cychet</h5>
              <p class="card-text">
                Age: 1
                <br>
                  Gender: Male
                <br>
                Breed: Dalmatian (possibly mixed)
              </p>
              <!-- <a href="#" class="btn btn-primary">Learn More</a> -->
              <p>Starved half to death by his previous owner, but a new loving owner came in to 
                fill his belly!</p>
            </div>
          </div>
        
          <div class="card" id="card-2" style="width: 18rem;">
            <img src="../../assets/images/todoroki.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Bakugou</h5>
              <p class="card-text">Age: 3
                  <br>
                  Gender: Male
                  <br>
                  Breed: Shuba Inu</p>
              <!-- <a href="#" class="btn btn-primary">Learn More</a> -->
              <p>A runaway with an explosive attitude who finally received the love and care he needed!</p>
            </div>
          </div>
        
          <div class="card" id="card-3" style="width: 18rem;">
            <img src="../../assets/images/xarthur.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Xarthur</h5>
              <p class="card-text">Age: 1
                  <br>
                  Gender: Male
                  <br>
                  Breed: Corgi</p>
              <!-- <a href="#" class="btn btn-primary">Learn More</a> -->
              <p>Born at the Ashworth's shelter, swooped up by one of our loving volunteers!</p>
            </div>
          </div>
          </div>