<div class="row">
    <div class="card" id="card-1" style="width: 18rem;">
        <img src="../../assets/images/biscuit.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Biscuit</h5>
          <p class="card-text">
            Age: 2
            <br>
              Gender: Male
            <br>
            Breed: Terrier
          </p>
          <a href="#" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    
      <div class="card" id="card-2" style="width: 18rem;">
        <img src="../../assets/images/fido.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Fido</h5>
          <p class="card-text">Age: 1
              <br>
              Gender: Male
              <br>
              Breed: Boxer</p>
          <a href="#" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    
      <div class="card" id="card-3" style="width: 18rem;">
        <img src="../../assets/images/finti.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Fenti</h5>
          <p class="card-text">Age: 1
              <br>
              Gender: Female
              <br>
              Breed: Stabyhoun</p>
          <a href="#" class="btn btn-primary">Learn More</a>
        </div>
      </div>
      </div>

      <div class="row">
        <div class="card" id="card-1" style="width: 18rem;">
            <img src="../../assets/images/cychet.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Cychet</h5>
              <p class="card-text">
                Age: 1
                <br>
                  Gender: Male
                <br>
                Breed: Dalmatian (possibly mixed)
              </p>
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        
          <div class="card" id="card-2" style="width: 18rem;">
            <img src="../../assets/images/todoroki.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Todoroki</h5>
              <p class="card-text">Age: 3
                  <br>
                  Gender: Male
                  <br>
                  Breed: Shuba Inu</p>
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        
          <div class="card" id="card-3" style="width: 18rem;">
            <img src="../../assets/images/xarthur.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Xarthur</h5>
              <p class="card-text">Age: 1
                  <br>
                  Gender: Male
                  <br>
                  Breed: Corgi</p>
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
          </div>