<h1>Your appointment has been schedualed!</h1>
<h1>
And will take place at:
</h1>
<h1 class="address">
1738 Ashworth Rd, 63097, St. Louis, MO.
</h1>

<h2>During the visit, you will be able to see your potential new pet in person and fill the 
adoption papers. WE will proide additional information on their history, medical records, diet,
and other important information you may wish to know.
</h2>

<h1>
Thank you for choosing Ashworth's! 
</h1>

<button type="button" class="btn btn-primary" routerLink="">Back to home</button>

<app-footer></app-footer>