<h1>DOGS CURRENTLY UP FOR ADOPTION</h1>

<div class="row">
    <div class="card" id="card-1" style="width: 18rem;">
        <img src="../../assets/images/lucky.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Lucky</h5>
          <p class="card-text">
            Age: 1
            <br>
              Gender: Male
            <br>
            Breed: Chihuahua
          </p>
          <a href="#" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    
      <div class="card" id="card-2" style="width: 18rem;">
        <img src="../../assets/images/maxwell.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Maxwell</h5>
          <p class="card-text">Age: 3
              <br>
              Gender: Male
              <br>
              Breed: Unknown</p>
          <a href="#" class="btn btn-primary">Learn More</a>
        </div>
      </div>
    
      <div class="card" id="card-3" style="width: 18rem;">
        <img src="../../assets/images/daisy.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Daisy</h5>
          <p class="card-text">Age: 2
              <br>
              Gender: Female
              <br>
              Breed: Golden retriever</p>
          <a href="#" class="btn btn-primary">Learn More</a>
        </div>
      </div>
      </div>